## <span style="color:#191970">1. Introdução sobre os dados</span>


TEXTO SOBRE MEGA_SENA

Antes de começarmos a trabalhar com os dados, é importante fazer a importação das bibliotecas necessárias:

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Atribuir o nome da planilha para a variável "arquivo"
arquivo = 'basedados.xlsx'
# Carregar a base de dados para um objeto pandas.io.excel.ExcelFile
excel = pd.ExcelFile(arquivo)
# Carregar a planilha excel para um objeto dataframe
data = excel.parse(0)

## <span style="color:#191970">2. Existe um jeito mais vantajoso de escolher os números?</span>

<span style="color:##191970">**A nossa hipótese é:** </span>
- Quando montamos um jogo e nele colocamos **4 números**que estejam entre os que **mais saíram nos concursos anteriores** e que também estão entre os números que **estão a mais rodadas seguidas sem sair**, as chances de acertamos o jogo é maior. Isso porque, acreditamos que **pelo menos 1 desses 4 números será sorteado**. Em outras palavras, estamos propondo que se existe um número que aparece muitas vezes, mas que está a muito tempo sem aparecer, ele provavelmente irá aparecer em breve. 


<span style="color:##191970">**Para escolher os quatro números, devemos:**</span> 
- Montar uma **tabela com os números foram mais sorteados nos concursos anteriores**, na qual o primeiro elemento é o número que mais saiu.
- Montar uma segunda **tabela com os números que estão a mais tempo sem ser sorteado até aquele concurso**, na qual o primeiro elemento é aquele que está a mais rodadas sem ser sorteado.
- Depois criaremos uma terceira **tabela onde iremos levar em consideração a soma:** <span style="color:##191970;background-color:#E0EEE0; ">posição do número na primeira tabela **+** a posição do número na segunda tabela</span>. Nesta tabela, o primeiro elemento será aquele que a soma deu o menor valor, ou seja, aquele que está numa posição relativamente mais acima na primeira e na segunda tabela.
- Feito isso, os **4 primeiros números** da terceira tabela serão os números escolhidos para serem jogados no concurso em questão.
- Para entender melhor a lógica proposta vejamos um exemplo meramente ilustrativo:

<img width="600" alt="tabela1" src="https://drive.google.com/uc?export=view&id=1d-4Gm_DGPwlZxWQFcsAwOOmvBLdrKYMY">
<img width="600" alt="tabela1" src="https://drive.google.com/uc?export=view&id=1vDVRE2ghPGTKI1Pb6Udb5xSuRrwhA-xA">
<img width="600" alt="tabela1" src="https://drive.google.com/uc?export=view&id=1twxyhMeDkjy7kn2GOePJ2kQCLSJu8KUe">


<span style="color:##191970">**Para verificar a nossa hipótese vamos fazer o seguinte:** </span>
- Após a escolha dos quatro números para cada concurso, veremos **quantas vezes pelo menos 1 dos 4 números foi, de fato, sorteado** naquele concurso, verificando se o método foi eficiente ou não. E então, calcularemos em **quantos porecento do total de concursos** o objetivo de acertar 1 número foi atingido.Assim, será possível visualizar o quão relevante é esse processo de escolha dos números.

### <span style="color:##191970">2.1 Montando a Tabela 1</span>

In [6]:
data.head()

,Concurso,Data Sorteio,Dezena1,Dezena2,Dezena3,Dezena4,Dezena5,Dezena6,Arrecadacao_Total,Ganhadores_Sena,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Prêmio
0,1,1996-03-11,41,5,4,52,30,33,0.0,0,0.00,17,39158.92,2016,330.21,SIM,1714650.23,0
1,2,1996-03-18,9,39,37,49,43,41,0.0,1,2307162.23,65,14424.02,4488,208.91,NÃO,0.00,0
2,3,1996-03-25,36,30,10,11,29,47,0.0,2,391192.51,62,10515.93,4261,153.01,NÃO,0.00,0
3,4,1996-04-01,6,59,42,27,1,5,0.0,0,0.00,39,15322.24,3311,180.48,SIM,717080.75,0
4,5,1996-04-08,1,19,46,6,16,2,0.0,0,0.00,98,5318.10,5399,96.53,SIM,1342488.85,0

In [13]:
def tabela1(row):
    n_sorteados=[]
    c =row['Concurso'] #atribui a c o número do concurso;
    colunas = [['Dezena1','Dezena2', 'Dezena3', 'Dezena4' , 'Dezena5', 'Dezena6']]
    for i in data[0:c]:
        n_sorteados.append(i[colunas])
    n_sorteados.value_counts()    
    tab1=(data.pivot_table(index= n_sorteados, values= n_sortados.value_counts())

In [53]:
n_sorteados=[]
c = data.loc[3].Concurso #atribui a c o número do concurso;
colunas = ['Dezena1','Dezena2', 'Dezena3', 'Dezena4' , 'Dezena5', 'Dezena6']

for i in data[0:c].Concurso:
    for k in colunas:
        j = data[k].iloc[i]
        n_sorteados.append(j)
        
a=[]     
for i in set(n_sorteados): 
    A.append(n_sorteados.count(i))
    
    
tab1 = pd.Series([A], index=[set(n_sorteados)])

{1, 2, 5, 6, 9, 10, 11, 16, 19, 27, 29, 30, 36, 37, 39, 41, 42, 43, 46, 47, 49, 59}    [2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, ...
dtype: object

## <span style="color:##191970">3. Conclusão</span>

Como a Mega-Sena se trata de um jogo de azar, infelizmente, afirmar que existe um método de escolha que **é** mais vantajoso ou afirmar que podemos **prever** os números que serão sorteados não é algo que podemos fazer. No entanto, diante das análises que foram apresentadas ao longo desse notebook, somos capazes de dizer que para os jogos anteriores o método proposto **foi**, sim, vantajoso e que muitos dos números que **prevemos**, de fato, foram sorteados. Sendo assim, é razoável concluir que a aplicação de uma lógica na escolha dos números da Mega-sena nem sempre será algo inútil ou irrelevante como muitos pensam que é, e que é interessante desenvolver um raciocínio de jogo quando se tem tantos dados disponíveis para serem estudados.

<span style="background-color:##E0EEE0; color:##191970"></span>
#DAA520
<img width="500" alt="tabela1" src="https://drive.google.com/uc?export=view&id=1d-4Gm_DGPwlZxWQFcsAwOOmvBLdrKYMY">