## <span style="color:#191970">1. Introdução sobre os dados</span>


TEXTO SOBRE MEGA_SENA

Antes de começarmos a trabalhar com os dados, é importante fazer a importação das bibliotecas necessárias:

In [7]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
# Atribuir o nome da planilha para a variável "arquivo"
arquivo = 'basedados.xlsx'
# Carregar a base de dados para um objeto pandas.io.excel.ExcelFile
excel = pd.ExcelFile(arquivo)
# Carregar a planilha excel para um objeto dataframe
data = excel.parse(0)

## <span style="color:#191970">2. Existe um jeito mais vantajoso de escolher os números?</span>

<span style="color:##191970">**A nossa hipótese é:** </span>
- <span style="color:#CD950C">**Se existe um número que aparece muitas vezes, mas que está há muito tempo sem aparecer, ele provavelmente irá aparecer em breve.**</span> Então, propomos o seguinte: se montarmos um jogo e nele colocarmos **4 números**que estejam entre os que **mais saíram nos concursos anteriores** e que também estão entre os números que **estão há mais rodadas seguidas sem sair**, as chances de acertamos o jogo é maior. Isso porque, acreditamos que **pelo menos 1 desses 4 números será sorteado**. 

<span style="color:##191970">**Para escolher os quatro números, devemos:**</span> 
- <span style="background-color:##E8E8E8; ">  Primeira Etapa:</span>  Montar uma **tabela com os números foram mais sorteados nos concursos anteriores**, na qual o primeiro elemento é o número que mais saiu.
- <span style="background-color:##E8E8E8; ">  Segunda Etapa:</span>  Montar uma segunda **tabela com os números que estão a mais tempo sem ser sorteado até aquele concurso**, na qual o primeiro elemento é aquele que está a mais rodadas sem ser sorteado.
- <span style="background-color:##E8E8E8; ">  Terceira Etapa:</span>  Depois criaremos uma terceira **tabela onde iremos levar em consideração a soma:** <span style="color:#CD950C">**posição do número na primeira tabela + a posição do número na segunda tabela**</span>. Nesta tabela, o primeiro elemento será aquele que a soma deu o menor valor, ou seja, aquele que está numa posição relativamente mais acima na primeira e na segunda tabela.
- <span style="background-color:##E8E8E8; ">  Quarta Etapa:</span>  Feito isso, os **4 primeiros números** da terceira tabela serão os números escolhidos para serem jogados no concurso em questão.

Para entender melhor a lógica proposta vejamos um exemplo meramente ilustrativo:

<img width="600" alt="tabela1" src="https://drive.google.com/uc?export=view&id=1d-4Gm_DGPwlZxWQFcsAwOOmvBLdrKYMY">
<img width="600" alt="tabela1" src="https://drive.google.com/uc?export=view&id=1vDVRE2ghPGTKI1Pb6Udb5xSuRrwhA-xA">
<img width="600" alt="tabela1" src="https://drive.google.com/uc?export=view&id=1twxyhMeDkjy7kn2GOePJ2kQCLSJu8KUe">


<span style="color:##191970">**Para verificar a nossa hipótese vamos fazer o seguinte:** </span>
- Para cada concurso, após a escolha dos quatro números, veremos **quantas vezes pelo menos 1 dos 4 números foi, de fato, sorteado**, verificando se o método foi eficiente ou não. E então, calcularemos em **quantos porecento do total de concursos** o objetivo de acertar 1 número foi atingido.Assim, será possível visualizar o quão relevante é esse processo de escolha dos números.

### <span style="color:##191970">2.1. Construindo a lógica de cada etapa</span>

#### <span style="color:##191970">a) Montando a Tabela 1</span>

In [12]:
n_sorteados=[]
c = 4 
colunas = ['Dezena1','Dezena2', 'Dezena3', 'Dezena4' , 'Dezena5', 'Dezena6']

for i in range(c): #percorre concursos anteriores
    for k in colunas: #percorre cada uma das dezenas
        j = data[k].iloc[i] #descobre o valor sorteado naquela dezena 
        n_sorteados.append(j) #adiciona ao n_sorteados o valor descoberto
        
aparicoes={} #cria o dicionário para as apariçoes de cada número   
for i in set(n_sorteados): #para cada valor sorteado
    aparicoes[i] = n_sorteados.count(i) #dizemos quantas vezes ele aparece
    
chaves = [] #cria uma lista para receber as chaves
valores = [] #cria uma lista para receber os valores
for i,j in aparicoes.items():
    chaves.append(i) #adiciona os valores da lista chave
    valores.append(j) #adiviona os valores da lista value

B = {'Numero':chaves, 'Repeticoes':valores} #cria um dicionário B com os valores das chavez e dos valores
tab1= pd.DataFrame(data = B) #assim é possível criar um dataframe que será a tabela 1
 
tab1 = tab1.sort_values(by=['Repeticoes'], ascending = False) #ordenamos o DataFrame pelo número de aparições e do maior para o menor

#### <span style="color:##191970">b) Montando a Tabela 2</span>

In [13]:
ultima_aparicao = {}
for j in set(n_sorteados): #para cada número
    for i in range(c): #do primeiro ao ultimo concurso
        for k in colunas:
            if j == data[k].iloc[i]: # se o i for igual a uma das dezenas sorteadas 
                ultima_aparicao[j] = data['Data Sorteio'].iloc[i] #colocamos a data do concurso como a ultima aparição 

chaves = [] #cria uma lista para receber as chaves
valores = [] #cria uma lista para receber os valores
for i,j in ultima_aparicao.items():
    chaves.append(i) #adiciona os valores da lista chave
    valores.append(j) #adiviona os valores da lista value
    
C = {'Numero':chaves, 'Última Aparição':valores} #cria um dicionário C com os valores das chavez e dos valores
tab2 = pd.DataFrame(data=C) #assim é possível criar um dataframe que será a tabela 2
 
tab2 = tab2.sort_values('Última Aparição') #ordenamos o DataFrame pelo ultima aparição da mais antiga para a mais atual

#### <span style="color:##191970">c) Montando a Tabela 3</span>

In [14]:
soma_posicoes = {}
posicao_tab1 = {}
posicao_tab2 = {}
for j in set(n_sorteados): #para cada valor sorteado
    index_tab1 = pd.Index(tab1.Numero)
    posicao_tab1[j] = index_tab1.get_loc(j)#pego a posição do j na tabela 1
    
for j in set(n_sorteados): #para cada valor sorteado
    index_tab2 = pd.Index(tab2.Numero)
    posicao_tab2[j] = index_tab2.get_loc(j)#pego a posição do j na tabela 2

for i in set(n_sorteados):    
    soma_posicoes[i]= posicao_tab1[i] + posicao_tab2[i]
    
chaves = [] #cria uma lista para receber as chaves
valores = [] #cria uma lista para receber os valores
for i,j in soma_posicoes.items():
    chaves.append(i) #adiciona os valores da lista chave
    valores.append(j) #adiviona os valores da lista value
    
D = {'Numero':chaves, 'Soma das posições':valores} #cria um dicionário D com os valores das chavez e dos valores
tab3 = pd.DataFrame(data=D) #assim é possível criar um dataframe que será a tabela 3
 
tab3 = tab3.sort_values('Soma das posições') #ordenamos o DataFrame pelo número de aparições e do menor para o maior

#### <span style="color:##191970">d) Escolhendo os 4 Números</span>

In [15]:
Quatro_numeros= tab3.Numero.iloc[0:4].tolist()

#### <span style="color:##191970">e) Verificando se um dos números foi sorteado</span>

In [16]:

for i in colunas:#para cada dezena
    for j in Quatro_numeros: #para cada palpite
        if j == data[i].loc[c]: # verifica se naquele concurso o palpite foi certo
            data['Acertos Palpite'][c]+=1

In [17]:
data.head()

,Concurso,Data Sorteio,Dezena1,Dezena2,Dezena3,Dezena4,Dezena5,Dezena6,Arrecadacao_Total,Ganhadores_Sena,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Prêmio,Acertos Palpite
0,1,1996-03-11,41,5,4,52,30,33,0.0,0,0.00,17,39158.92,2016,330.21,SIM,1714650.23,0,0
1,2,1996-03-18,9,39,37,49,43,41,0.0,1,2307162.23,65,14424.02,4488,208.91,NÃO,0.00,0,0
2,3,1996-03-25,36,30,10,11,29,47,0.0,2,391192.51,62,10515.93,4261,153.01,NÃO,0.00,0,0
3,4,1996-04-01,6,59,42,27,1,5,0.0,0,0.00,39,15322.24,3311,180.48,SIM,717080.75,0,0
4,5,1996-04-08,1,19,46,6,16,2,0.0,0,0.00,98,5318.10,5399,96.53,SIM,1342488.85,0,0

### <span style="color:##191970">2.2 Colocando tudo em uma única função</span>

Agora que já temos a lógica para a construção de cada uma das etapas iremos junta-las numa função para podermos aplicar a todos os concursos.

In [22]:
y=[]
for i in range(10):
     y.append(i) 
        
y

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
#def AcertosPalpite(row):
for x in range(10):
    n_sorteados=[]
    #c = row['Concurso'] #atribui a c o número do concurso
    c = x
    #Código para descobrir a tabela 1
    colunas = ['Dezena1','Dezena2', 'Dezena3', 'Dezena4' , 'Dezena5', 'Dezena6']
    for i in range(c): 
        for k in colunas:
            j = data[k].iloc[i] 
            n_sorteados.append(j) 
    aparicoes={}  
    for i in set(n_sorteados): 
        aparicoes[i] = n_sorteados.count(i)   
    chaves = [] 
    valores = [] 
    for i,j in aparicoes.items():
        chaves.append(i)
        valores.append(j) 
    B = {'Numero':chaves, 'Repeticoes':valores} 
    tab1= pd.DataFrame(data = B) 
    tab1 = tab1.sort_values(by=['Repeticoes'], ascending = False) 
    
    #Código para descobrir a tabela 2
    ultima_aparicao = {}
    for j in set(n_sorteados): 
        for i in range(c):
            for k in colunas:
                if j == data[k].iloc[i]:  
                    ultima_aparicao[j] = data['Data Sorteio'].iloc[i]
    chaves = [] 
    valores = [] 
    for i,j in ultima_aparicao.items():
        chaves.append(i) 
        valores.append(j)
        C = {'Numero':chaves, 'Última Aparição':valores} 
    tab2 = pd.DataFrame(data=C) 
    tab2 = tab2.sort_values('Última Aparição') 
    
    #Código para descobrir tabela 3
    soma_posicoes = {}
    posicao_tab1 = {}
    posicao_tab2 = {}
    for j in set(n_sorteados): 
        index_tab1 = pd.Index(tab1.Numero)
        posicao_tab1[j] = index_tab1.get_loc(j) 
    for j in set(n_sorteados):
        index_tab2 = pd.Index(tab2.Numero)
        posicao_tab2[j] = index_tab2.get_loc(j)
    for i in set(n_sorteados):    
        soma_posicoes[i]= posicao_tab1[i] + posicao_tab2[i]
    chaves = [] 
    valores = []
    for i,j in soma_posicoes.items():
        chaves.append(i) 
        valores.append(j)
    D = {'Numero':chaves, 'Soma das posições':valores}
    tab3 = pd.DataFrame(data=D)
    tab3 = tab3.sort_values('Soma das posições')
    
    #Escolhe os 4 Números
    Quatro_numeros= tab3.Numero.iloc[0:4].tolist()
    #acertos_palpite = 0
    
    for i in colunas:
        for j in Quatro_numeros:
            if j == data[i].iloc[c]:
                data['Acertos Palpite'][c]+=1
    
    #return acertos_palpite

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [36]:
data.head(10)

,Concurso,Data Sorteio,Dezena1,Dezena2,Dezena3,Dezena4,Dezena5,Dezena6,Arrecadacao_Total,Ganhadores_Sena,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Prêmio,Acertos Palpite
0,1,1996-03-11,41,5,4,52,30,33,0.0,0,0.00,17,39158.92,2016,330.21,SIM,1714650.23,0,0
1,2,1996-03-18,9,39,37,49,43,41,0.0,1,2307162.23,65,14424.02,4488,208.91,NÃO,0.00,0,2
2,3,1996-03-25,36,30,10,11,29,47,0.0,2,391192.51,62,10515.93,4261,153.01,NÃO,0.00,0,0
3,4,1996-04-01,6,59,42,27,1,5,0.0,0,0.00,39,15322.24,3311,180.48,SIM,717080.75,0,2
4,5,1996-04-08,1,19,46,6,16,2,0.0,0,0.00,98,5318.10,5399,96.53,SIM,1342488.85,0,0
5,6,1996-04-15,19,40,7,13,22,47,0.0,0,0.00,109,7214.66,7147,110.03,SIM,2286166.33,0,0
6,7,1996-04-22,56,38,21,20,3,5,0.0,0,0.00,100,8746.05,5736,152.48,SIM,3335692.28,0,0
7,8,1996-04-29,53,17,38,4,47,37,0.0,0,0.00,60,16084.11,5262,183.40,SIM,4493748.19,0,0
8,9,1996-05-06,55,43,56,54,8,60,0.0,0,0.00,17,60043.79,2175,469.31,SIM,5718641.49,0,2
9,10,1996-05-13,25,4,18,57,21,38,0.0,0,0.00,251,6638.45,12590,132.35,SIM,13334769.81,0,0

### <span style="color:##191970">2.3 Aplicando a todas as linhas</span>

In [ ]:
data['Acertos do Método'] = data.apply(AcertosPalpite, axis=1)

### <span style="color:##191970">2.4 Vendo a Eficiência do Método</span>

In [ ]:
#criar uma pivot table

#criando um grafico de barras
fig, ax1 = plt.subplots()

ax1.plot(,qtd_acertos)
plt.title("Eficiência do método")
plt.xlabel('Quantidade de números adivinhados')
plt.ylabel('Quantidade de Concursos')

## <span style="color:##191970">3. Conclusão</span>

Como a Mega-Sena se trata de um jogo de azar, infelizmente, afirmar que existe um método de escolha que **é** mais vantajoso ou afirmar que podemos **prever** os números que serão sorteados não é algo que podemos fazer. No entanto, diante das análises que foram apresentadas ao longo desse notebook, somos capazes de dizer que para os jogos anteriores o método proposto **foi**, sim, vantajoso e que muitos dos números que **prevemos**, de fato, foram sorteados. Sendo assim, é razoável concluir que a aplicação de uma lógica na escolha dos números da Mega-sena nem sempre será algo inútil ou irrelevante como muitos pensam que é, e que é interessante desenvolver um raciocínio de jogo quando se tem tantos dados disponíveis para serem estudados.